* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-image: url("./saksham-gangwar-YVgOh8w1R4s-unsplash.jpg");
  background-size: cover;
}
.container {
  max-width: 80vw;
  margin: 0 auto;
}

h1 {
  text-align: center;
  color: rgba(0, 0, 0, 0.8);
  text-shadow: -3px -3px 0 rgb(224, 217, 12), 3px -3px 0 rgb(224, 217, 12),
    -3px 3px 0 rgb(224, 217, 12), 3px 3px 0 rgb(224, 217, 12);
  font-size: 5rem;
  font-family: "roboto", sans-serif;
  text-transform: uppercase;
}
/* Buttons */
.dynamic-btns {
  margin: 0.5rem auto;
  max-width: 50vw;
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 1rem;
}
.dynamic-btns button {
  background-color: rgb(250, 250, 247);
  font-size: 1.5rem;
  border-radius: 20px;
  padding: 0.1em 1em;

  font-family: "Gentium Plus", serif;
  font-weight: 700;
}
.dynamic-btns button:hover {
  background-color: bisque;
  cursor: pointer;
}
/* Search */
.search-wrapper {
  gap: 0.5rem;
  justify-content: center;
}
#search {
  background-color: rgb(250, 250, 247);
  border: none;
  border-radius: 5px;
  padding: 0.5rem;
  font-family: "Gentium Plus", serif;
  font-size: 1.2rem;
}
#search:hover {
  background-color: bisque;
}
.search-wrapper ion-icon {
  position: absolute;
}
.wrapper-icon {
  padding: 10px;
  margin-left: 11rem;
}

/* Loading popup */
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.6);
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.overlay.active {
  display: flex;
  cursor: wait;
}
.loading {
  font-size: 5rem;
  color: #fff;
  animation-name: pulse;
  animation-duration: 1s;
  animation-direction: normal;
  animation-iteration-count: infinite;
}
@keyframes pulse {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.1;
  }
  100% {
    opacity: 1;
  }
}
/* Table & details popup container */
.main {
  display: flex;
  gap: 2rem;
  justify-content: center;
}
/* Table */

table {
  min-width: 80vw;
  margin: 1rem auto;
  table-layout: fixed;
  border-radius: 10px;
  font-family: "Gentium Plus", serif;
  border-spacing: 0;
  color: #fff;
  position: relative;
}
.table::before {
  content: "";
  background-image: url("./maria-ten-rZGmpf1SF6k-unsplash.jpg");
  background-size: cover;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0.6;
  border-radius: 10px;
}

th {
  position: relative;
  font-size: 1.4rem;
  text-transform: uppercase;
  padding: 0.8rem;
  background-color: rgb(35, 22, 121);
}

td {
  position: relative;
  padding: 0.5em;
  font-size: 1.2rem;
  text-align: center;
  word-wrap: break-word;
}
td ion-icon {
  font-size: 40px;
}
tr:hover {
  background-color: #000;
}
.small-table {
  margin: 1rem 0;
  min-width: 40vw;
  min-height: 50vh;
}

.small-table.table th:last-child,
.small-table.table tr td:last-child {
  display: none;
}
/*Trash button and checkbox*/
.delete-details-container {
  display: flex;
  gap: 0.3rem;
  justify-content: center;
  align-items: center;
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 1;
  display: none;
}
.content {
  background-color: #fff;
  margin: 15% auto;
  padding: 20px;
  border: 3px solid rgba(255, 251, 0, 0.714);
  border-radius: 10px;
  width: 20%;
  color: #000;
  font-size: 2rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
}

.delete,
.do-not-delete {
  border-radius: 20px;
  background: #fff;
  font-size: 1.5rem;
  text-align: center;
  cursor: pointer;
}
.delete:hover,
.do-not-delete:hover,
.delete:focus,
.do-not-delete:focus {
  background-color: rgba(0, 0, 0, 0.4);
}

.checkbox {
  width: 1.5em;
  height: 1.5em;
  accent-color: rgb(224, 217, 12);
}
/* Details button */
.details-popup {
  display: none;
  background-image: url("./saksham-gangwar-YVgOh8w1R4s-unsplash.jpg");
  background-size: cover;
  background-position: center;
  color: #fff;
  flex-direction: column;
  margin: 1rem 0;
  border-radius: 10px;
  padding: 1.5rem;
  gap: 0.5rem;
  font-size: 1.3rem;
  min-width: 20vw;
}
.details-popup button {
  border-radius: 10px;
  font-size: 1.3rem;
}
/* Pagination */
.pagination,
.search-wrapper {
  display: none;
}
.pagination {
  justify-content: center;
  align-items: stretch;
  gap: 1rem;
  font-family: "Gentium Plus", serif;
  margin-bottom: 1rem;
}
.pagination button,
.pagination input,
.pagination select {
  background-color: rgb(250, 250, 247);
  border-radius: 10px;
  padding: 0.5em 1.5em;
  border: 1px solid #000;
  text-align: center;
  font-size:1.2rem;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
